:root {
  --font-family: "Poppins", sans-serif;
  --transition: .2s all ease-out;
  --red:#DC3535;
  --orange:#d17842;
  --black:#0C0F14;
  --bgColor:#252a32;
  --grey:#52555A;
  --white: #FFF;
  --hzcolor:#AEAEAE;
  --button:#141921;
  



}
