.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22rem 35rem;

  .sidebar-link {
    font-size: 24rem;
    backdrop-filter: blur(50rem);
    background: rgba(12, 15, 20, 0.1);
    transition: var(--transition);
    

    &.active {
      .sidebar-link__icon::before {
        color: var(--orange);
      }
    }

    .sidebar-link__icon::before {
      transition: var(--transition);
      color: var(--hzcolor) ;
      font-size: 24rem;
    }
  }
}