.container{    
    padding: 20rem;}
.title{
    font-weight: 600;
    font-size: 14rem;
    line-height: 143%;
    color: var(--hzcolor);
    margin-bottom: 15rem;
}
.desc{
    font-weight: 400;
    font-size: 12rem;
    line-height: 167%;
    color: var(--white);
}