html {
	font-size: 1px;
}
html,
body {
	height: 100%;
}
body {
	font-size: 16rem;
	font-family: var(--font-family);
	background: #0c0f14;
	color: var(--white);
	// max-width: 400rem;
	// height: 1000rem;
}
#root {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.main {
	padding: 20rem;
}
