/* Загальний стиль прокрутки */
::-webkit-scrollbar {
    width: 5px; /* Ширина прокрутки */
    height: 5px;
    border-radius: 2px;
  }
  
  /* Стиль полоси прокрутки */
  ::-webkit-scrollbar-track {
    background: #0C0F14; /* Колір фону полоси прокрутки */
  }
  
  /* Стиль "бар"у прокрутки */
  ::-webkit-scrollbar-thumb {
    background: #fff; /* Колір "бар"у прокрутки */
    width: 5px; 
    border-radius: 2px;
  }
  
  /* Опціонально: стиль при наведенні */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Колір "бар"у прокрутки при наведенні */
  }
 
